// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

// font-family: 'Playfair Display', serif;
// font-family: 'Playfair Display SC', serif;


@font-face {
    font-family: 'MescalitoStarfish';
    src: url('../fonts/MescalitoStarfish-Regular.otf');
    src: url('../fonts/MescalitoStarfish-Regular.woff') format('woff'),
         url('../fonts/MescalitoStarfish-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}